/*table.sortable {
	
	td, th {
	
	table-layout: fixed;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	text-align: center;
}
	
}



 tr#first {
	font-size: 12px;
	background-color: #D58715;
	color: white;
	
}

